name: streams_channel_example
description: Demonstrates how to use the streams_channel plugin.
version: 1.0.0+1

dependencies:
  flutter:
    sdk: flutter

  streams_channel:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
